<div class="comment-form">
  <%= form_with(model: [post, comment], local: false ) do |f| %>
    <%= f.text_area :content, class: "input-mysize" %>
    <%= f.submit "Send", class: "send-btn" %>
  <% end %>
</div>