<p>Hello <%= @user.name %>!</p>

<p>You received a comment from <%= @comment.user.name %> about your post.</p>
<p>Please answer the question!</p>

<p>※<%= @comment.user.name %>さんから投稿に関してコメントがありました。</p>