<% if user_signed_in? && Like.find_by(user_id: current_user.id, post_id: post.id) %>
  <%= link_to(post_like_path(post.id, like.id), remote: true, method: :delete) do %>
    <i class="fas fa-thumbs-up unlike-btn"></i>
  <% end %>
<% else %>
  <%= link_to(post_likes_path(post.id), remote: true, method: :post) do %>
    <i class="fas fa-thumbs-up like-btn"></i>
  <% end %>
<% end %>
<div class="like-count">
  <%= likes_count %>
</div>