//for all
//#3cad7e
* {
  text-align: center;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

footer {
  position: absolute;
  top: 1790px;
  height: 200px;
  width: 100%;
  background-color: rgba(73,71,77,0.7);
}
//flash
.flash {
  color: white;
  text-align: center;
}

.flash_notice {
  background-color: blue;
}

.flash_alert {
  background-color: red;
}
// header
header {
  height: 64px;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.header-menus {
  text-align: right;
}

.header-menus li {
  display: inline-block;
  margin-right: 30px;
  color: #fff;
  text-shadow: 0 0 1px #fff, 0 0 20px #0cc, 0 0 10px #0cc, 0 0 10px #0ff, 0 0 60px #0ff;
}

.header-menus a {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

//top

.top-main {
  padding: 200px 0 100px 0;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 200px;
  color: white;
  background-repeat: no-repeat;
  background-position: center 73%;
  background: #3cad7e;
  background-size: cover;
}

.top-main h1 {
  width: 15%;
  padding-top: 4px;
  margin: 0 auto;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 0 1px #fff, 0 0 20px #0cc, 0 0 10px #0cc, 0 0 10px #0ff, 0 0 60px #0ff;
  border: 2px solid #b5f7dc;
  box-shadow: 
    0 1px 2px #001f12, 
    2px 1px 4px #154531, 
    2px 4px 3px #348060, 
    0 0 7px 2px #b5f7dc,
    inset 0 1px 2px #001f12, 
    inset 2px 1px 4px #154531, 
    inset 2px 4px 3px #348060, 
    inset 0 0 7px 2px #b5f7dc;
  border-radius: 6px;
  cursor: pointer;
}

.selection {
  position: absolute;
  top: 400px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
}

.select-menus li {
  display: inline;
  margin-right: 30px;
}

.select-menus a {
  color: #fff;
  text-shadow: 0 0 1px #fff, 0 0 20px #0cc, 0 0 10px #0cc, 0 0 10px #0ff, 0 0 60px #0ff;
}

//card-index
.top-middle {
  position: absolute;
  top: 450px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.k-content {
  width: 23%;
  height: 296px;
  box-shadow: 0 10px 20px rgba(black, 0.2);
  margin-top: 30px;
  margin-left: 19px;
  border-radius: 5px;
}

.k-head {
  position: relative;
  height: 145px;
  box-sizing: border-box;
}

.top-image {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.top-image img {
  height: 100%;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.k-middle {
  height: 98px;
  margin-top: 10px;
  font-size: 13px;
  box-sizing: border-box;
}

.top-whole {
  height: 23%;
  width: 65%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cccccc;
  box-sizing: border-box;
  align-items: center;
  padding-top: 4px;
}

.top-question {
  height: 100%;
  color: #cccccc;
}

.top-answer {
  height: 100%;
  width: 65%;
  font-size: 14px;
}

.k-foot {
  height: 47px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.more-watch {
  height: 100%;
  width: 100%;
}


.info-button {
  display: inline-block;
  width: 60%;
  padding: 8px 0;
  border-radius: 4px;
  background:linear-gradient(to right, #fa5277, #f7c154);
  color: #fff;
}