ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

// application html
// header
header {
  height: 64px;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.header-menus {
  text-align: right;
}

.header-menus li {
  display: inline-block;
  margin-right: 30px;
}

.header-menus a {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

//top

.top-main {
  padding: 200px 0 100px;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 320px;
  //min-height: 100%;
  color: white;
  background-repeat: no-repeat;
  background-position: center 73%;
  background-image: url(/Canada3.jpg);
  background-size: cover;
}

.selection {
  position: absolute;
  top: 650px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
}

.select-menus li {
  display: inline;
  margin-right: 30px;
}

.select-menus a {
  color: green;
}

//flash
.flash {
  padding: 10px 0;
  color: white;
  background: red;
  text-align: center;
  position: absolute;
  top: 10px;
  left: 300px;
  z-index: 10;
  width: 10%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}

.top-middle {
  position: absolute;
  top: 600px;
  margin-top: 150px;
}

.top-middle a {
  color: black;
}

.k-content {
  border: 1px solid black;
  width: 300px;
  border-radius: 7px;
  margin: 30px 30px 0 30px;
  box-shadow: 0 10px 20px rgba(black, 0.2);
  float: left;
}

.k-head {
  height: 150px;
  position: relative;
  margin: 5px 5px 0 5px;
  border-bottom: 1px solid black;
}

.card-pic {
  height: 140px;
  width: 80%;
}

.k-name {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 10px;
}

.k-middle {
  height: 65px;
}

.k-middle li {
  margin-top: 3px;
  font-size: 11px;
}

.k-foot {
  height: 47px;
  background-color:  #ecf0f1;
}

.k-data {
  color: black;
}

.k-data li {
  width: 30%;
  text-align: center;
  display: inline-block;
  font-family: 'Lato';
  border-right: solid 1px #81878b;
  margin-top: 12px;
  font-size: 11px;
}

.k-data li span {
  display: block;
  text-transform: uppercase;
  font-family: 'Quicksand';
  font-weight: 700;
}

.k-data li:last-child {
  border-right: none;
}