//show
.post-show {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(#f68084,#a6c0fe);
}

.post-card {
  width: 37%;
  height: 90%;
  box-shadow: 0 10px 20px rgba(black, 0.2);
  border-radius: 5px;
  margin-right: 60px;
  background-color: #fff;
  margin-top: 25px;
}

.post-image {
  height: 41%;
  box-sizing: border-box;
}

.post-image img {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
}

.post-content {
  height: 57%;
  box-sizing: border-box;
}

.whole-content {
  display: flex;
  height: 12%;
  width: 65%;
  margin: 0 auto;
  border-bottom: 1px solid #cccccc;
  justify-content: space-between;
  box-sizing: border-box;
}

.question-content {
  color: #cccccc;
}

.answer-content {
  height: 100%;
  width: 65%;
  font-weight: bold;
}

.comment-field {
  width: 30%;
  height: 75%;
}

.comment-title {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

//commentbox
.comment-area {
  margin: 0 auto;
  height: 90%;
  overflow: scroll;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(black, 0.2);
  background-color: #fff;
}

.comment-area::-webkit-scrollbar {
  display:none;
}

//partial
.half-right {
  text-align: right;
  width: 93%;
}

.half-left {
  text-align: left;
  width: 93%;
}

.comment-box {
  display: inline-block;
  position: relative;
  height: auto;
  width: 35%;
  border-radius: 10px;
  color: #1a091a;
  background: #aff283;
  margin-top: 50px;
  font-size: 11px;
}

.right {
  left: 0;
}

.right::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #aff283;
}

.left {
  left: 5%;
}

.left::before {
  content: "";
  position: absolute;
  top: 60%;
  left: -25%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #aff283;
}

.comment-username {
  text-align: right;
  font-weight: bold;
  margin-top: -13px;
}

.comment-content {
  font-size: 13px;
  margin: 25px 0 25px 0;
}

.comment-time {
  text-align: right;
  margin-bottom: -13px;
}

.comment-form {
  margin-top: 1px;
}

.input-mysize {
  height: 35px;
  width: 55%;
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
	border-right: none;
}

.send-btn {
  height: 35px;
  display: inline-block;
  font-size: 100%;
  padding: 8px 20px;
  margin-left: -6px;
  color: #fff;
  background-color: #000077;
  vertical-align: top;
  border: none;
	border-radius: 0 5px 5px 0;
  cursor: pointer;
}

//post-new
.post-new-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(#f68084,#a6c0fe);
}

.form-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 30px 0;
  width: 500px;
  height: 70%;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(black, 0.4);
}

.form-content input {
  height: 30px;
  width: 100%;
  border: none;
  border-radius: 3px;
  border:1px solid #D3D3D3;
  background-color: #fff;
}

.form-content select {
  height: 30px;
  width: 100%;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

.form {
  width: 40%;
  font-size: 20px;
  margin-top: 20px;
}

.post-photo {
  height: 160px;
  width: 70%;
  display: inline-block;
  padding: 2px 1em;
  position: relative;
  background-color:#f6f6f6;
}

.post-photo span {
  position: absolute;
  top: 40%;
  left: 20%;
  font-size: 15px;
  color: #C0C0C0;
}

.post-photo input[type="file"] {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  cursor: pointer;
}

.without-photo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.submit {
  width: 50%;
  margin: 0 auto;
}

.submit input {
  height: auto;
}

.submit-form {
  display       : inline-block;
  height: auto;
  width: 50%;
  border-radius : 6%;
  font-size     : 17pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 15px 48px;
  background    : #000066;
  color         : #ffffff;
  line-height   : 1em;
  transition    : .3s;
  box-shadow    : 6px 6px 3px #666666;
  border        : 2px solid #000066;
  margin-top: 20px;
}

.submit-form:hover {
  box-shadow    : none;
  color         : #000066;
  background    : #ffffff;
}

//post edit
.post-edit-container {
  width: 100%;
  height: 100%;
  background: linear-gradient(#f68084,#a6c0fe);
}

.form-heading {
  margin: 0;
  padding-top: 10px;
  color: #fff;
}

.edit-photo {
  height: 180px;
  width: 68%;
  display: inline-block;
  position: relative;
  background-color: black;
}

.edit-photo input[type="file"] {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  cursor: pointer;
}

.edit-photo img {
  height: 100%;
  width: 100%;
}