//show
.for-post li {
  color: #fff;
  text-shadow: none;
}

.post-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(#f68084,#a6c0fe);
}

.post-card {
  width: 37%;
  height: 90%;
  box-shadow: 0 10px 20px rgba(black, 0.2);
  border-radius: 5px;
  margin-right: 60px;
  background-color: #fff;
  margin-top: 40px;
}

.post-image {
  height: 41%;
  box-sizing: border-box;
  img {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
  }
}

.post-content {
  height: 57%;
  box-sizing: border-box;
}

.whole-content {
  display: flex;
  height: 12%;
  width: 65%;
  margin: 0 auto;
  border-bottom: 1px solid #cccccc;
  justify-content: space-between;
  box-sizing: border-box;
  .question-content {
    color: #cccccc;
  }
  .answer-content {
    height: 100%;
    width: 65%;
    font-weight: bold;
  }
}

.can-manipulate {
  width: 18%;
  position: relative;
  left: 370px;
  bottom: 7px;
  .post-edit a {
    color: #aff283;
    font-weight: bold;
  }
}

.comment-field {
  width: 30%;
  height: 75%;
  margin-top: 35px;
}

.comment-title {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding-top: 8px;
  margin-bottom: 0;
}
//post-new
.form-heading {
  margin: 0;
  padding-top: 30px;
  color: #fff;
}

.form-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 37%;
  height: 75%;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(black, 0.4);
  input {
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 3px;
    border:1px solid #D3D3D3;
    background-color: #fff;
  }
  select {
    height: 30px;
    width: 100%;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
  }
}

.form {
  width: 40%;
  font-size: 20px;
  margin-top: 20px;
}

.post-photo {
  height: 200px;
  width: 100%;
  display: inline-block;
  position: relative;
  img {
    height: 100%;
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  input[type="file"] {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    cursor: pointer;
  }
}

.without-photo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.submit {
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  input {
    height: auto;
    color: #fff;
    background-color: #0d6efd;
    cursor: pointer;
  }
}

.submit-form {
  display       : inline-block;
  font-size     : 17pt;
  text-align    : center;
  padding       : 15px 48px;
}
//post edit
.post-delete {
  position: absolute;
  top: 89%;
  left: 63%;
  a {
    color: #fff;
  }
}