//for devise content
.user-container {
  height: 100%;
  background-color: #3cad7e;
}

.user-card {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(black, 0.4);
  width: 30%;
  margin: auto;
  h2 {
    color: #3cad7e;
  }
}

.other-option a {
  color: #fab30f;
  font-weight: bold;
}
//devise error
#error_explanation h2, li {
  margin: 0;
  color: red;
}
//login
.login {
  height: 60%;
}

.box input {
  height: 50px;
  width: 80%;
  font-size: 15px;
  margin-top: 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
}

.box input[type="text"], input[type="email"], input[type="password"] {
  height: 40px;
  border:1px solid #D3D3D3;
  background-color: #fff;
}

.box input[type="submit"] {
  font-weight: bold;
  color: #fff;
  background-color: #0d6efd;
  cursor: pointer;
}

.forgot-password {
  width: 70%;
  font-size: 14px;
  margin: 0 0 0 auto;
  margin-top: 5px;
  a {
    color: #0d6efd;
  }
}
//signup
.signup {
  height: 70%;
}
//edit
.edit {
  height: 63%;
}
//user show
.for-user a {
  color: #07f78f;
  text-shadow: none;
}

.user-show-container {
  height: 100%;
  width: 100%;
}

.about-profile {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile {
  height: 100%;
  width: 55%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  .profile-left {
    width: 40%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 30px;
    padding-left: 100px;
  }
  .profile-right {
    width: 50%;
    height: 75%;
    box-sizing: border-box;
    margin: auto 0;
    h4 {
      margin-bottom: -15px;
      width: 80%;
    }
    p {
      height: 50%;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.user-icon img {
  border-radius: 400px;
  height: 100px;
  width: 100px;
  vertical-align: bottom;
}

.profile-name {
  height: 30%;
  h3 {
    margin-top: auto;
  }
  h5 {
    margin-top: -20px;
  }
  a {
    color: #040dc2;
  }
}

.new-post-btn {
  display: block;
  height: 50%;
  width: 80%;
  padding-top: 11px;
  font-size: 20px;
  color: #fff;
  border: 1px solid #07f78f;
  border-radius: 3px;
  background: #07f78f;
}
//user-card
.about-post {
  height: 60%;
  width: 100%;
}

.posted {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.own-card {
  width: 23%;
  height: 296px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(black, 0.2);
  margin-right: 40px;
}

.your-post {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  color: #d9d8d7;
}

.your-post::before, .your-post::after {
  border-top: 2px solid #d9d8d7;
  content: "";
  flex-grow: 0.3;
}

.your-post::before {
  margin-right: 1rem;
}

.your-post::after {
  margin-left: 1rem;
}

.not-yet {
  color: #d9d8d7;
}