//login
.login-container {
  height: 100%;
  background-color: #3cad7e;
}

.login-card {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(black, 0.4);
  height: 60%;
  width: 30%;
  margin: auto;
}

.login-card h2 {
  color: #3cad7e;
}

.box input {
  height: 50px;
  width: 80%;
  font-size: 15px;
  margin-top: 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
}

input[type="email"], input[type="password"] {
  height: 40px;
  border:1px solid #D3D3D3;
  background-color: #fff;
}

input[type="submit"] {
  font-weight: bold;
  color: #fff;
  background-color: #0d6efd;
  cursor: pointer;
}

.forgot-password {
  width: 70%;
  font-size: 14px;
  margin: 0 0 0 auto;
  margin-top: 5px;
}

.without-account {
  font-size: 14px;
  font-weight: bold;
}

.without-account a {
  color: #fab30f;
}
//remember me if you need to use
/*<% if devise_mapping.rememberable? %>
    <div class="remember-me">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
*/
//signup
.signup-container {
  height: 100%;
  background-color: #3cad7e;
}
.signup-card {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(black, 0.4);
  height: 70%;
  width: 30%;
  margin: auto;
}

.signup-card h2 {
  color: #3cad7e;
}

.name input[type="text"] {
  height: 40px;
  border:1px solid #D3D3D3;
  background-color: #fff;
}

.already-account a {
  color:  #fab30f;
  font-weight: bold;
}

//user show
.user-show-container {
  height: 100%;
  width: 100%;
}

.user-selection {
  margin: 50px 0 50px 0;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
}

.user-selection ul {
  text-align: right;
}

.user-menus li {
  display: inline;
  margin-right: 30px;
}

.user-menus li:last-child {
  margin-right: 100px;
}

.user-menus a {
  color: dimgray;
}

.user-logout a {
  color: red;
}

.show-head {
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile {
  position: relative;
  width: 20%;
  box-sizing: border-box;
}

.profile-name {
  position: absolute;
  top: 80%;
  right: 13%;
}


.toward-post {
  width: 40%;
  box-sizing: border-box;
  padding-right: 80px;
}

.user-icon {
  text-align: right;
}

.user-icon img {
  border: 2px solid black;
  border-radius: 400px;
  box-shadow: 0px 0px 10px #000;
  height: 50%;
  width: 50%;
}

.new-post-btn {
  font-size: 20px;
  padding: 15px;
  height: 50px;
  color: #fff;
  border: 1px solid #66FF99;
  border-radius: 3px;
  background: #66FF99;
}

//user-card
.about-post {
  width: 100%;
  margin-top: 70px;
  position: relative;
}

.posted {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.own-card {
  width: 18%;
  margin-right: 100px;
  box-shadow: 0 10px 20px rgba(black, 0.2);
  flex-wrap: wrap;
}

.your-post {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.your-post::before, .your-post::after {
  border-top: 2px solid gray;
  content: "";
  flex-grow: 0.3;
}

.your-post::before {
  margin-right: 1rem;
}

.your-post::after {
  margin-left: 1rem;
}